 ul {
  list-style-type:none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans Condensed", sans-serif;
  width: 400px;
}
li{
  text-align: left;
  padding: 0;
}

*{ 
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    background-image: linear-gradient(#E6E6E6, #F2F2F2);
  }
  
  .header-top {
    background-color: #0B6121;
    position: relative;
    padding: 1rem;
  }
  
  .img {
    position: absolute;
    top: 2%;
    left: 5%;
  }
  .title,
  p {
    text-align: center;
    margin: 0 auto;
    max-width: 40%;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
  }
  .title{
    text-shadow: 3px 2px black;
  }
  .sub-top p
  {
    color: black;
  }
  .sub-top{
    text-align: center;
    color: black;
  }
  h2{
    font-family: "Open Sans Condensed", sans-serif;
  }
  .title-form{
    text-align: center;
    background: #DF7401;
    color: white;
    padding: 1rem;
    font-family: "Open Sans Condensed", sans-serif;
    border: 2px dashed orange;
  }
  .oculto{
   opacity: 0;
  }
body > div > form > ul > li:nth-child(1) > input{
  margin-left: 17px;
}
body > div > form > ul > li:nth-child(2) > input{
  margin-left: 86px;
}
body > div > form > ul > li:nth-child(3) > input{
  margin-left: 110px;
}
body > div > form > ul > li:nth-child(4) > input{
  margin-left: 80px;
}
body > div > form > ul > li:nth-child(5) > input{
  margin-left: 70px;
}
body > div > form{
  margin-top: 20px;
}